---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<div
  class="sticky top-[100px] flex w-screen xl:w-full h-[100px] flex-col items-start justify-between"
>
  <div class="flex flex-col">
    <a
      href={`/work/${slug}`}
      class="text-5xl lg:text-6xl xl:text-6xl 2xl:text-8xl underline"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      {data.title}
    </a>
    <p
      class="text-xl max-w-[200px] xl:text-3xl xl:self-end xl:max-w-[253px] mt-5"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      {data.subtitle}
    </p>
  </div>
</div>
<a href={`/work/${slug}`}>
  <aside class="project-aside mt-10 md:mt-0 -z-10 md:relative md:opacity-100">
    <img
      class="h-[400px] md:h-[1000px] object-cover sm:h-unset max-w-[300px] lg:max-w-[720px]"
      data-aos="fade-left"
      data-aos-duration="1000"
      src={data.img}
      alt={data.img_alt || ""}
      loading="lazy"
      decoding="async"
    />
  </aside>
</a>
